<div class="container" *ngIf="!loading">
  <mat-card>
    <div style="text-align: center"><img mat-card-avatar [src]="getImg(product.image)" alt="{{product.title}} image"></div>
    <mat-card-content>
      <br>
      <mat-card-title>{{product.title}}
        <button mat-icon-button color="primary" *ngIf="isAdmin()" (click)="onEdit()"><mat-icon>edit</mat-icon></button></mat-card-title>
      <mat-card-subtitle>{{product.manufacturer}}</mat-card-subtitle>
      <mat-card-subtitle>
        <ng-template #t let-fill="fill">
              <span class="star" [class.filled]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
        </ng-template>
        <ngb-rating [(rate)]="rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating></mat-card-subtitle>
      <span class="mat-display-1">&euro;{{product.price}}<br><br></span>
      <span>{{product.description}}<br></span>
        <span *ngIf="product.stock > 0" style="color: #1e961e">In Stock<br><br></span>
      <span *ngIf="product.stock <= 0" style="color: #ba0b0b">Out Of Stock<br><br></span>
      <div>
        <mat-form-field appearance="outline" style="width: 60px;">
          <mat-label>Quantity</mat-label>
          <input matInput min="1" type="number" [(ngModel)]="quantity">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="onAddToCart()" [disabled]="product.stock <= 0">Add To Cart</button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Reviews</mat-card-title>
      <mat-card-subtitle><button mat-button color="accent" (click)="onReview()">
        <mat-icon style="margin-right: 5px">rate_review</mat-icon>Leave Review</button>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card *ngFor="let review of product.reviews">
        <ngb-rating [(rate)]="review.rating" [starTemplate]="t" [max]="5" [readonly]="true">
          <ng-template let-fill="fill">
            <span class="reviews-star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
        <mat-card-content style="margin: 10px">{{review.reviewContent}}</mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
