<mat-toolbar>
  <mat-toolbar-row>
    <form (ngSubmit)="onSearch()" class="form-check-inline search">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Search</mat-label>
        <input type="text"
               placeholder="Keywords"
               matInput
               [(ngModel)]="keywords"
               [ngModelOptions]="{standalone: true}"/>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Search By...</mat-label>
        <mat-select [(ngModel)]="selectedOption" name="option">
          <mat-option value="name">Product Name</mat-option>
          <mat-option value="category">Category</mat-option>
          <mat-option value="manufacturer">Manufacturer</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        color="accent"
        class="search-btn">
        <mat-icon>search</mat-icon>
        <span>Search</span>
      </button>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
