<div class="container">
  <table mat-table
         [dataSource]="datasource" multiTemplateDataRows
         matSort
         class="mat-elevation-z8"
         *ngIf="products.length > 0">

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" ><div class="product-img">
        <img
        *ngIf="element.image !== null"
        [src]=getImg(element.image)
        alt="{{element.name}} image"/>
      </div></td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element"><h2 class="mat-h2">{{element.title}}</h2>
        <br><span class="description">{{element.description}}</span></td>
    </ng-container>

    <ng-container matColumnDef="manufacturer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</th>
      <td mat-cell *matCellDef="let element" >{{element.manufacturer}}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let element">{{element.category}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let element" >&euro;{{element.price}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        (click)="onProduct(element)">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

  <span *ngIf="products.length === 0" class="mat-display-1 centered">No Products Found</span>
</div>
