<h1 mat-dialog-title>Add Payment Method</h1>
<div class="content" mat-dialog-content>
  <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Card Number</mat-label>
      <input matInput formControlName="cardNumber" type="number" required>
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field style="width: 50%;" appearance="outline">
        <mat-label>Name on Card</mat-label>
        <input matInput formControlName="cardName" type="text" required>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field style="width: 50%;" appearance="outline">
        <mat-label>Expiry</mat-label>
        <input matInput formControlName="expiry" type="month" required>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="" (click)="onSubmit()">Save</button>
</div>
