<h1 mat-dialog-title>Edit data.product</h1>
<div class="content" mat-dialog-content>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Ex. Playstation 5" [(ngModel)]="data.product.title" required>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Manufacturer</mat-label>
    <input matInput placeholder="Ex. Sony" [(ngModel)]="data.product.manufacturer" required>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput placeholder="Ex. 500" [(ngModel)]="data.product.price" type="number" required>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Categories</mat-label>
    <mat-select [(value)]="selectedCategory">
      <mat-option></mat-option>
      <mat-option [value]="option" *ngFor="let option of categories">{{ option }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Description" [(ngModel)]="data.product.description" required></textarea>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Stock</mat-label>
    <input matInput placeholder="Stock" [(ngModel)]="data.product.stock" type="number" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.product">Save</button>
</div>
